@import url('./reset.css');

/* common */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.canvas-area {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  padding: 20px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

canvas {
  width: 800px;
  height: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.color-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform ease-in-out .1s;
}

.color-option:hover {
  transform: scale(1.2);
}

#color {
  background-color: #fff;
}

button,
label {
  all: unset;
  padding: 10px 0;
  text-align: center;
  background-color: royalblue;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: opacity linear .3s;
}

button:hover {
  opacity: .85;
}

#file {
  display: none;
}

#text {
  all: unset;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}